<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <%- include('partials/navigation.ejs') %>
<main>
    <div class = "profile">
        <div class = "details">
            <p>Name:&nbsp;&nbsp;&nbsp; <%= user.name %></p>
            <p>Age:&nbsp;&nbsp;&nbsp; <%= user.age %></p>
        </div>
        <form action="#" onsubmit="deletePost(event)" class="delete-user">
            <button type="submit">Delete</button>
        </form>
    </div>
</main>
    <script>
        const deletePost = (e) => {
            e.preventDefault();
            fetch('/user/<%= user.id %>', {
                method: 'DELETE'
            }).then(res => {
                res.json()
            }).then(res => {
                window.location = "/users"
            })
        }
    </script>

 <%- include('partials/footer.ejs') %>