<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <%- include('partials/navigation.ejs') %>
<main>
    <div class = "profile">
        <div class = "details">
            <p>Name:&nbsp;&nbsp;&nbsp; <%= user.name %></p>
            <p>Age:&nbsp;&nbsp;&nbsp; <%= user.age %></p>
        </div>
        <div class="buttons">
            <form action="/users/delete/<%= user._id %>"  class="delete-user" method="POST">
                <button type="submit">Delete</button>
            </form>
            <form action="/users/edit/<%= user._id %>" class="update-user">
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</main>

 <%- include('partials/footer.ejs') %>